

#kaBoom1 {
    background-color: rgb(192, 190, 190);

}
#kaBoom2 {
    background-color: rgb(192, 190, 190);
}
#kaBoom3 {
    background-color: rgb(192, 190, 190);
}
#kaBoom4 {
    background-color: rgb(192, 190, 190);
}

.myBomb {
    width: 100px;
    height: 100px;

}

i.fa {
     width: 100px;
    height: 100px;

}
